---
import Section from "../Section.astro";

import { interests } from "@cv";

---

<Section className={Astro.props.className} title="Hobbies">
    <ul class="list-none space-y-3 text-sm text-skin-base">
        {interests.map((interest) => {
            return (
                <li>
                    <div class="font-bold text-base mb-1">{interest.name}</div>
                    {interest.keywords && interest.keywords.length > 0 && (
                        <div class="text-skin-muted text-sm ml-2">{interest.keywords.join(", ")}</div>
                    )}
                </li>
            );
        })}
    </ul>
</Section>