---
import Section from "../Section.astro";

import { interests } from "@cv";

---

<Section className={Astro.props.className} title="Hobbies">
    <ul class="list-disc space-y-1 pl-4 text-sm text-skin-muted">
        {interests.map((interest) => {
            return (
                <li>
                    <span class="font-semibold">{interest.name}:</span>
                    {interest.keywords && interest.keywords.length > 0 && (
                        <span class="text-skin-muted text-xs"> {interest.keywords.join(", ")}</span>
                    )}
                </li>
            );
        })}
    </ul>
</Section>