---
import Section from "../Section.astro";

import { skills } from "@cv";

---

<Section className={Astro.props.className} title="Skills">
    <ul class="list-none space-y-1 text-sm text-black">
        {skills.map((skill) => {
            return (
                <li>
                    <span class="font-semibold">{skill.name}:</span>
                    {skill.keywords && skill.keywords.length > 0 && (
                        <span class="text-black text-sm"> {skill.keywords.join(", ")}</span>
                    )}
                </li>
            );
        })}
    </ul>
</Section>