---
import Section from "../Section.astro";

import { skills } from "@cv";

---

<Section className={Astro.props.className} title="Skills">
    <ul class="list-none space-y-1 text-sm text-skin-base">
        {skills.map((skill) => {
            return (
                <li>
                    <div class="font-bold text-base mb-1">{skill.name}</div>
                    {skill.keywords && skill.keywords.length > 0 && (
                        <div class="text-skin-muted text-sm ml-2">{skill.keywords.join(", ")}</div>
                    )}
                </li>
            );
        })}
    </ul>
</Section>